* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVuSans-Bold.ttf");
  font-weight: 400;
  font-size: 24px;
}
p {
  font-family: "DejaVu Sans";
}

header {
  padding-bottom: 14px;
  padding-top: 15px;
}
.product p {
  padding-top: 10px;
  padding-bottom: 10px;
}
header h2 {
  font-family: "DejaVu Sans";
}
input[type="checkbox"],
label {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 517px) {
  header nav {
    display: none;
  }
  header label {
    display: block;
  }
  header span {
    display: block;
    height: 2px;
    width: 25px;
    background: #333;
    position: relative;
  }
  header span::before {
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    background: #333;
    position: absolute;
    top: -10px;
  }
  input[type="checkbox"]:checked ~ nav {
    display: block;
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 40px;
    transition: 0.5s;
  }
  header span::after {
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    background: #333;
    position: absolute;
    top: 10px;
  }
  header input[type="button"] {
    position: relative;
    right: 60px;
  }
}
header input {
  background: #000;
  color: #fff;
  border-radius: 6px;
}
.container {
  display: flex;
  width: 100%;
  max-width: 488px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header ul {
  display: flex;
  list-style: none;
}
header li {
  margin-left: 20px;
  margin-right: 10px;
}
header a {
  text-decoration: none;
}
.product {
  display: flex;
  margin-left: 36px;
  margin-right: 19px;
  width: 100%;
  max-width: 485px;
  margin: 0 auto;
}
@media (max-width: 458px) {
  .product img {
    display: none;
  }
  .product {
    align-items: center;
  }
}
.product img {
  margin-left: 41px;
}

.plan {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;

.learm_more {
  background-color: #29323d;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.services {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
}
.bloc {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Benefit_One {
  width: 310px;
  align-items: center;
}
.Benefit_One_img {
  margin-left: 110px;
}
.Benefit_Two {
  margin-left: 10px;
  width: 310px;
}
.Benefit_Three {
  margin-left: 10px;
  width: 320px;
}
.learm_more a {
  padding-right: 20px;
  color: #fff;
  text-decoration: none;
  padding-left: 21px;
  padding-bottom: 6px;
  padding-right: 6px;
}
.second {
  border-radius: 1px #29323d;
  border: 10px #29323d;
}
._sect_ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sect p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-1 img {
  width: 20px;
  height: 20px;
}
.footer h3 {
  text-align: center;
}
.class p {
  text-align: end;
}
.foot-2 {
  display: flex;
}
.class img {

  width: 40px;
  height: 40px;
  margin-top: 90px;
}
.third p {
  width: 25%;
}
.third input {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
}
.class-2 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

  width: 20px;
  height: 20px;
}

