* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  max-width: 529px;
  margin: 0 auto;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("/fonts/DejaVuSans-Bold.ttf");
  font-weight: 400;
  font-size: 24px;
}
h1 {
  font-family: "DejaVu Sans";
}
a {
  text-decoration: none;
  color: rgb(252, 113, 113);
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-left: 10px;
}
.sign_up {
  background: #000;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 10px;
  width: 130px;
}
label span {
  display: none;
}
@media (max-width: 720px) {
  nav {
    display: none;
  }
  label span {
    display: block;
    width: 20px;
    height: 4px;
    background: #000;
    position: relative;
    right: 20px;
  }
  label span::before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #000;
    position: relative;
    top: -10px;
  }
  label span::after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #000;
    position: relative;
    top: 10px;
  }
  input [type="chackbox"]:checked ~ nav {
    display: block;
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 40px;
    transition: 0.5s;
    display: block;
    position: absolute;
  }
}
@media (max-width: 397px) {
  header {
    display: block;
  }
  label span {
    bottom: 70px;
    left: 280px;
  }
  .sign_up {
    width: 130px;
  }
}
header input {
  display: none;
}
.learn_more {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
